// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-be-name: 'sp-i-be';
$sp-i-be-x: 0px;
$sp-i-be-y: 0px;
$sp-i-be-offset-x: 0px;
$sp-i-be-offset-y: 0px;
$sp-i-be-width: 16px;
$sp-i-be-height: 10px;
$sp-i-be-total-width: 30px;
$sp-i-be-total-height: 27px;
$sp-i-be-image: '../image/sprite.png';
$sp-i-be: (0px, 0px, 0px, 0px, 16px, 10px, 30px, 27px, '../image/sprite.png', 'sp-i-be', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 0px;
$sp-i-fb-y: 15px;
$sp-i-fb-offset-x: 0px;
$sp-i-fb-offset-y: -15px;
$sp-i-fb-width: 7px;
$sp-i-fb-height: 12px;
$sp-i-fb-total-width: 30px;
$sp-i-fb-total-height: 27px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (0px, 15px, 0px, -15px, 7px, 12px, 30px, 27px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-polygon-name: 'sp-i-polygon';
$sp-i-polygon-x: 21px;
$sp-i-polygon-y: 0px;
$sp-i-polygon-offset-x: -21px;
$sp-i-polygon-offset-y: 0px;
$sp-i-polygon-width: 9px;
$sp-i-polygon-height: 9px;
$sp-i-polygon-total-width: 30px;
$sp-i-polygon-total-height: 27px;
$sp-i-polygon-image: '../image/sprite.png';
$sp-i-polygon: (21px, 0px, -21px, 0px, 9px, 9px, 30px, 27px, '../image/sprite.png', 'sp-i-polygon', );
$sp-i-be-2x-name: 'sp-i-be@2x';
$sp-i-be-2x-x: 0px;
$sp-i-be-2x-y: 0px;
$sp-i-be-2x-offset-x: 0px;
$sp-i-be-2x-offset-y: 0px;
$sp-i-be-2x-width: 32px;
$sp-i-be-2x-height: 20px;
$sp-i-be-2x-total-width: 60px;
$sp-i-be-2x-total-height: 54px;
$sp-i-be-2x-image: '../image/sprite@2x.png';
$sp-i-be-2x: (0px, 0px, 0px, 0px, 32px, 20px, 60px, 54px, '../image/sprite@2x.png', 'sp-i-be@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 0px;
$sp-i-fb-2x-y: 30px;
$sp-i-fb-2x-offset-x: 0px;
$sp-i-fb-2x-offset-y: -30px;
$sp-i-fb-2x-width: 14px;
$sp-i-fb-2x-height: 24px;
$sp-i-fb-2x-total-width: 60px;
$sp-i-fb-2x-total-height: 54px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (0px, 30px, 0px, -30px, 14px, 24px, 60px, 54px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-polygon-2x-name: 'sp-i-polygon@2x';
$sp-i-polygon-2x-x: 42px;
$sp-i-polygon-2x-y: 0px;
$sp-i-polygon-2x-offset-x: -42px;
$sp-i-polygon-2x-offset-y: 0px;
$sp-i-polygon-2x-width: 18px;
$sp-i-polygon-2x-height: 18px;
$sp-i-polygon-2x-total-width: 60px;
$sp-i-polygon-2x-total-height: 54px;
$sp-i-polygon-2x-image: '../image/sprite@2x.png';
$sp-i-polygon-2x: (42px, 0px, -42px, 0px, 18px, 18px, 60px, 54px, '../image/sprite@2x.png', 'sp-i-polygon@2x', );
$spritesheet-width: 30px;
$spritesheet-height: 27px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-be, $sp-i-fb, $sp-i-polygon, );
$spritesheet: (30px, 27px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 60px;
$retina-spritesheet-height: 54px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-be-2x, $sp-i-fb-2x, $sp-i-polygon-2x, );
$retina-spritesheet: (60px, 54px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-be-group-name: 'sp-i-be';
$sp-i-be-group: ('sp-i-be', $sp-i-be, $sp-i-be-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-polygon-group-name: 'sp-i-polygon';
$sp-i-polygon-group: ('sp-i-polygon', $sp-i-polygon, $sp-i-polygon-2x, );
$retina-groups: ($sp-i-be-group, $sp-i-fb-group, $sp-i-polygon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
