// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-be-name: 'sp-i-be';
$sp-i-be-x: 98px;
$sp-i-be-y: 74px;
$sp-i-be-offset-x: -98px;
$sp-i-be-offset-y: -74px;
$sp-i-be-width: 16px;
$sp-i-be-height: 10px;
$sp-i-be-total-width: 130px;
$sp-i-be-total-height: 130px;
$sp-i-be-image: '../image/sprite.png';
$sp-i-be: (98px, 74px, -98px, -74px, 16px, 10px, 130px, 130px, '../image/sprite.png', 'sp-i-be', );
$sp-i-carousel-left-name: 'sp-i-carousel-left';
$sp-i-carousel-left-x: 60px;
$sp-i-carousel-left-y: 98px;
$sp-i-carousel-left-offset-x: -60px;
$sp-i-carousel-left-offset-y: -98px;
$sp-i-carousel-left-width: 18px;
$sp-i-carousel-left-height: 20px;
$sp-i-carousel-left-total-width: 130px;
$sp-i-carousel-left-total-height: 130px;
$sp-i-carousel-left-image: '../image/sprite.png';
$sp-i-carousel-left: (60px, 98px, -60px, -98px, 18px, 20px, 130px, 130px, '../image/sprite.png', 'sp-i-carousel-left', );
$sp-i-carousel-right-name: 'sp-i-carousel-right';
$sp-i-carousel-right-x: 37px;
$sp-i-carousel-right-y: 98px;
$sp-i-carousel-right-offset-x: -37px;
$sp-i-carousel-right-offset-y: -98px;
$sp-i-carousel-right-width: 18px;
$sp-i-carousel-right-height: 20px;
$sp-i-carousel-right-total-width: 130px;
$sp-i-carousel-right-total-height: 130px;
$sp-i-carousel-right-image: '../image/sprite.png';
$sp-i-carousel-right: (37px, 98px, -37px, -98px, 18px, 20px, 130px, 130px, '../image/sprite.png', 'sp-i-carousel-right', );
$sp-i-case-0-name: 'sp-i-case-0';
$sp-i-case-0-x: 49px;
$sp-i-case-0-y: 0px;
$sp-i-case-0-offset-x: -49px;
$sp-i-case-0-offset-y: 0px;
$sp-i-case-0-width: 44px;
$sp-i-case-0-height: 44px;
$sp-i-case-0-total-width: 130px;
$sp-i-case-0-total-height: 130px;
$sp-i-case-0-image: '../image/sprite.png';
$sp-i-case-0: (49px, 0px, -49px, 0px, 44px, 44px, 130px, 130px, '../image/sprite.png', 'sp-i-case-0', );
$sp-i-case-1-name: 'sp-i-case-1';
$sp-i-case-1-x: 0px;
$sp-i-case-1-y: 49px;
$sp-i-case-1-offset-x: 0px;
$sp-i-case-1-offset-y: -49px;
$sp-i-case-1-width: 44px;
$sp-i-case-1-height: 44px;
$sp-i-case-1-total-width: 130px;
$sp-i-case-1-total-height: 130px;
$sp-i-case-1-image: '../image/sprite.png';
$sp-i-case-1: (0px, 49px, 0px, -49px, 44px, 44px, 130px, 130px, '../image/sprite.png', 'sp-i-case-1', );
$sp-i-case-2-name: 'sp-i-case-2';
$sp-i-case-2-x: 49px;
$sp-i-case-2-y: 49px;
$sp-i-case-2-offset-x: -49px;
$sp-i-case-2-offset-y: -49px;
$sp-i-case-2-width: 44px;
$sp-i-case-2-height: 44px;
$sp-i-case-2-total-width: 130px;
$sp-i-case-2-total-height: 130px;
$sp-i-case-2-image: '../image/sprite.png';
$sp-i-case-2: (49px, 49px, -49px, -49px, 44px, 44px, 130px, 130px, '../image/sprite.png', 'sp-i-case-2', );
$sp-i-case-3-name: 'sp-i-case-3';
$sp-i-case-3-x: 0px;
$sp-i-case-3-y: 0px;
$sp-i-case-3-offset-x: 0px;
$sp-i-case-3-offset-y: 0px;
$sp-i-case-3-width: 44px;
$sp-i-case-3-height: 44px;
$sp-i-case-3-total-width: 130px;
$sp-i-case-3-total-height: 130px;
$sp-i-case-3-image: '../image/sprite.png';
$sp-i-case-3: (0px, 0px, 0px, 0px, 44px, 44px, 130px, 130px, '../image/sprite.png', 'sp-i-case-3', );
$sp-i-contacts-be-name: 'sp-i-contacts-be';
$sp-i-contacts-be-x: 98px;
$sp-i-contacts-be-y: 0px;
$sp-i-contacts-be-offset-x: -98px;
$sp-i-contacts-be-offset-y: 0px;
$sp-i-contacts-be-width: 32px;
$sp-i-contacts-be-height: 32px;
$sp-i-contacts-be-total-width: 130px;
$sp-i-contacts-be-total-height: 130px;
$sp-i-contacts-be-image: '../image/sprite.png';
$sp-i-contacts-be: (98px, 0px, -98px, 0px, 32px, 32px, 130px, 130px, '../image/sprite.png', 'sp-i-contacts-be', );
$sp-i-contacts-fb-name: 'sp-i-contacts-fb';
$sp-i-contacts-fb-x: 98px;
$sp-i-contacts-fb-y: 37px;
$sp-i-contacts-fb-offset-x: -98px;
$sp-i-contacts-fb-offset-y: -37px;
$sp-i-contacts-fb-width: 32px;
$sp-i-contacts-fb-height: 32px;
$sp-i-contacts-fb-total-width: 130px;
$sp-i-contacts-fb-total-height: 130px;
$sp-i-contacts-fb-image: '../image/sprite.png';
$sp-i-contacts-fb: (98px, 37px, -98px, -37px, 32px, 32px, 130px, 130px, '../image/sprite.png', 'sp-i-contacts-fb', );
$sp-i-contacts-mail-name: 'sp-i-contacts-mail';
$sp-i-contacts-mail-x: 0px;
$sp-i-contacts-mail-y: 98px;
$sp-i-contacts-mail-offset-x: 0px;
$sp-i-contacts-mail-offset-y: -98px;
$sp-i-contacts-mail-width: 32px;
$sp-i-contacts-mail-height: 32px;
$sp-i-contacts-mail-total-width: 130px;
$sp-i-contacts-mail-total-height: 130px;
$sp-i-contacts-mail-image: '../image/sprite.png';
$sp-i-contacts-mail: (0px, 98px, 0px, -98px, 32px, 32px, 130px, 130px, '../image/sprite.png', 'sp-i-contacts-mail', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 83px;
$sp-i-fb-y: 98px;
$sp-i-fb-offset-x: -83px;
$sp-i-fb-offset-y: -98px;
$sp-i-fb-width: 7px;
$sp-i-fb-height: 12px;
$sp-i-fb-total-width: 130px;
$sp-i-fb-total-height: 130px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (83px, 98px, -83px, -98px, 7px, 12px, 130px, 130px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-polygon-name: 'sp-i-polygon';
$sp-i-polygon-x: 119px;
$sp-i-polygon-y: 74px;
$sp-i-polygon-offset-x: -119px;
$sp-i-polygon-offset-y: -74px;
$sp-i-polygon-width: 9px;
$sp-i-polygon-height: 9px;
$sp-i-polygon-total-width: 130px;
$sp-i-polygon-total-height: 130px;
$sp-i-polygon-image: '../image/sprite.png';
$sp-i-polygon: (119px, 74px, -119px, -74px, 9px, 9px, 130px, 130px, '../image/sprite.png', 'sp-i-polygon', );
$sp-i-be-2x-name: 'sp-i-be@2x';
$sp-i-be-2x-x: 196px;
$sp-i-be-2x-y: 148px;
$sp-i-be-2x-offset-x: -196px;
$sp-i-be-2x-offset-y: -148px;
$sp-i-be-2x-width: 32px;
$sp-i-be-2x-height: 20px;
$sp-i-be-2x-total-width: 260px;
$sp-i-be-2x-total-height: 260px;
$sp-i-be-2x-image: '../image/sprite@2x.png';
$sp-i-be-2x: (196px, 148px, -196px, -148px, 32px, 20px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-be@2x', );
$sp-i-carousel-left-2x-name: 'sp-i-carousel-left@2x';
$sp-i-carousel-left-2x-x: 120px;
$sp-i-carousel-left-2x-y: 196px;
$sp-i-carousel-left-2x-offset-x: -120px;
$sp-i-carousel-left-2x-offset-y: -196px;
$sp-i-carousel-left-2x-width: 36px;
$sp-i-carousel-left-2x-height: 40px;
$sp-i-carousel-left-2x-total-width: 260px;
$sp-i-carousel-left-2x-total-height: 260px;
$sp-i-carousel-left-2x-image: '../image/sprite@2x.png';
$sp-i-carousel-left-2x: (120px, 196px, -120px, -196px, 36px, 40px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-carousel-left@2x', );
$sp-i-carousel-right-2x-name: 'sp-i-carousel-right@2x';
$sp-i-carousel-right-2x-x: 74px;
$sp-i-carousel-right-2x-y: 196px;
$sp-i-carousel-right-2x-offset-x: -74px;
$sp-i-carousel-right-2x-offset-y: -196px;
$sp-i-carousel-right-2x-width: 36px;
$sp-i-carousel-right-2x-height: 40px;
$sp-i-carousel-right-2x-total-width: 260px;
$sp-i-carousel-right-2x-total-height: 260px;
$sp-i-carousel-right-2x-image: '../image/sprite@2x.png';
$sp-i-carousel-right-2x: (74px, 196px, -74px, -196px, 36px, 40px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-carousel-right@2x', );
$sp-i-case-0-2x-name: 'sp-i-case-0@2x';
$sp-i-case-0-2x-x: 98px;
$sp-i-case-0-2x-y: 0px;
$sp-i-case-0-2x-offset-x: -98px;
$sp-i-case-0-2x-offset-y: 0px;
$sp-i-case-0-2x-width: 88px;
$sp-i-case-0-2x-height: 88px;
$sp-i-case-0-2x-total-width: 260px;
$sp-i-case-0-2x-total-height: 260px;
$sp-i-case-0-2x-image: '../image/sprite@2x.png';
$sp-i-case-0-2x: (98px, 0px, -98px, 0px, 88px, 88px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-case-0@2x', );
$sp-i-case-1-2x-name: 'sp-i-case-1@2x';
$sp-i-case-1-2x-x: 0px;
$sp-i-case-1-2x-y: 98px;
$sp-i-case-1-2x-offset-x: 0px;
$sp-i-case-1-2x-offset-y: -98px;
$sp-i-case-1-2x-width: 88px;
$sp-i-case-1-2x-height: 88px;
$sp-i-case-1-2x-total-width: 260px;
$sp-i-case-1-2x-total-height: 260px;
$sp-i-case-1-2x-image: '../image/sprite@2x.png';
$sp-i-case-1-2x: (0px, 98px, 0px, -98px, 88px, 88px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-case-1@2x', );
$sp-i-case-2-2x-name: 'sp-i-case-2@2x';
$sp-i-case-2-2x-x: 98px;
$sp-i-case-2-2x-y: 98px;
$sp-i-case-2-2x-offset-x: -98px;
$sp-i-case-2-2x-offset-y: -98px;
$sp-i-case-2-2x-width: 88px;
$sp-i-case-2-2x-height: 88px;
$sp-i-case-2-2x-total-width: 260px;
$sp-i-case-2-2x-total-height: 260px;
$sp-i-case-2-2x-image: '../image/sprite@2x.png';
$sp-i-case-2-2x: (98px, 98px, -98px, -98px, 88px, 88px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-case-2@2x', );
$sp-i-case-3-2x-name: 'sp-i-case-3@2x';
$sp-i-case-3-2x-x: 0px;
$sp-i-case-3-2x-y: 0px;
$sp-i-case-3-2x-offset-x: 0px;
$sp-i-case-3-2x-offset-y: 0px;
$sp-i-case-3-2x-width: 88px;
$sp-i-case-3-2x-height: 88px;
$sp-i-case-3-2x-total-width: 260px;
$sp-i-case-3-2x-total-height: 260px;
$sp-i-case-3-2x-image: '../image/sprite@2x.png';
$sp-i-case-3-2x: (0px, 0px, 0px, 0px, 88px, 88px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-case-3@2x', );
$sp-i-contacts-be-2x-name: 'sp-i-contacts-be@2x';
$sp-i-contacts-be-2x-x: 196px;
$sp-i-contacts-be-2x-y: 0px;
$sp-i-contacts-be-2x-offset-x: -196px;
$sp-i-contacts-be-2x-offset-y: 0px;
$sp-i-contacts-be-2x-width: 64px;
$sp-i-contacts-be-2x-height: 64px;
$sp-i-contacts-be-2x-total-width: 260px;
$sp-i-contacts-be-2x-total-height: 260px;
$sp-i-contacts-be-2x-image: '../image/sprite@2x.png';
$sp-i-contacts-be-2x: (196px, 0px, -196px, 0px, 64px, 64px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-contacts-be@2x', );
$sp-i-contacts-fb-2x-name: 'sp-i-contacts-fb@2x';
$sp-i-contacts-fb-2x-x: 196px;
$sp-i-contacts-fb-2x-y: 74px;
$sp-i-contacts-fb-2x-offset-x: -196px;
$sp-i-contacts-fb-2x-offset-y: -74px;
$sp-i-contacts-fb-2x-width: 64px;
$sp-i-contacts-fb-2x-height: 64px;
$sp-i-contacts-fb-2x-total-width: 260px;
$sp-i-contacts-fb-2x-total-height: 260px;
$sp-i-contacts-fb-2x-image: '../image/sprite@2x.png';
$sp-i-contacts-fb-2x: (196px, 74px, -196px, -74px, 64px, 64px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-contacts-fb@2x', );
$sp-i-contacts-mail-2x-name: 'sp-i-contacts-mail@2x';
$sp-i-contacts-mail-2x-x: 0px;
$sp-i-contacts-mail-2x-y: 196px;
$sp-i-contacts-mail-2x-offset-x: 0px;
$sp-i-contacts-mail-2x-offset-y: -196px;
$sp-i-contacts-mail-2x-width: 64px;
$sp-i-contacts-mail-2x-height: 64px;
$sp-i-contacts-mail-2x-total-width: 260px;
$sp-i-contacts-mail-2x-total-height: 260px;
$sp-i-contacts-mail-2x-image: '../image/sprite@2x.png';
$sp-i-contacts-mail-2x: (0px, 196px, 0px, -196px, 64px, 64px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-contacts-mail@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 166px;
$sp-i-fb-2x-y: 196px;
$sp-i-fb-2x-offset-x: -166px;
$sp-i-fb-2x-offset-y: -196px;
$sp-i-fb-2x-width: 14px;
$sp-i-fb-2x-height: 24px;
$sp-i-fb-2x-total-width: 260px;
$sp-i-fb-2x-total-height: 260px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (166px, 196px, -166px, -196px, 14px, 24px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-polygon-2x-name: 'sp-i-polygon@2x';
$sp-i-polygon-2x-x: 238px;
$sp-i-polygon-2x-y: 148px;
$sp-i-polygon-2x-offset-x: -238px;
$sp-i-polygon-2x-offset-y: -148px;
$sp-i-polygon-2x-width: 18px;
$sp-i-polygon-2x-height: 18px;
$sp-i-polygon-2x-total-width: 260px;
$sp-i-polygon-2x-total-height: 260px;
$sp-i-polygon-2x-image: '../image/sprite@2x.png';
$sp-i-polygon-2x: (238px, 148px, -238px, -148px, 18px, 18px, 260px, 260px, '../image/sprite@2x.png', 'sp-i-polygon@2x', );
$spritesheet-width: 130px;
$spritesheet-height: 130px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-be, $sp-i-carousel-left, $sp-i-carousel-right, $sp-i-case-0, $sp-i-case-1, $sp-i-case-2, $sp-i-case-3, $sp-i-contacts-be, $sp-i-contacts-fb, $sp-i-contacts-mail, $sp-i-fb, $sp-i-polygon, );
$spritesheet: (130px, 130px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 260px;
$retina-spritesheet-height: 260px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-be-2x, $sp-i-carousel-left-2x, $sp-i-carousel-right-2x, $sp-i-case-0-2x, $sp-i-case-1-2x, $sp-i-case-2-2x, $sp-i-case-3-2x, $sp-i-contacts-be-2x, $sp-i-contacts-fb-2x, $sp-i-contacts-mail-2x, $sp-i-fb-2x, $sp-i-polygon-2x, );
$retina-spritesheet: (260px, 260px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-be-group-name: 'sp-i-be';
$sp-i-be-group: ('sp-i-be', $sp-i-be, $sp-i-be-2x, );
$sp-i-carousel-left-group-name: 'sp-i-carousel-left';
$sp-i-carousel-left-group: ('sp-i-carousel-left', $sp-i-carousel-left, $sp-i-carousel-left-2x, );
$sp-i-carousel-right-group-name: 'sp-i-carousel-right';
$sp-i-carousel-right-group: ('sp-i-carousel-right', $sp-i-carousel-right, $sp-i-carousel-right-2x, );
$sp-i-case-0-group-name: 'sp-i-case-0';
$sp-i-case-0-group: ('sp-i-case-0', $sp-i-case-0, $sp-i-case-0-2x, );
$sp-i-case-1-group-name: 'sp-i-case-1';
$sp-i-case-1-group: ('sp-i-case-1', $sp-i-case-1, $sp-i-case-1-2x, );
$sp-i-case-2-group-name: 'sp-i-case-2';
$sp-i-case-2-group: ('sp-i-case-2', $sp-i-case-2, $sp-i-case-2-2x, );
$sp-i-case-3-group-name: 'sp-i-case-3';
$sp-i-case-3-group: ('sp-i-case-3', $sp-i-case-3, $sp-i-case-3-2x, );
$sp-i-contacts-be-group-name: 'sp-i-contacts-be';
$sp-i-contacts-be-group: ('sp-i-contacts-be', $sp-i-contacts-be, $sp-i-contacts-be-2x, );
$sp-i-contacts-fb-group-name: 'sp-i-contacts-fb';
$sp-i-contacts-fb-group: ('sp-i-contacts-fb', $sp-i-contacts-fb, $sp-i-contacts-fb-2x, );
$sp-i-contacts-mail-group-name: 'sp-i-contacts-mail';
$sp-i-contacts-mail-group: ('sp-i-contacts-mail', $sp-i-contacts-mail, $sp-i-contacts-mail-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-polygon-group-name: 'sp-i-polygon';
$sp-i-polygon-group: ('sp-i-polygon', $sp-i-polygon, $sp-i-polygon-2x, );
$retina-groups: ($sp-i-be-group, $sp-i-carousel-left-group, $sp-i-carousel-right-group, $sp-i-case-0-group, $sp-i-case-1-group, $sp-i-case-2-group, $sp-i-case-3-group, $sp-i-contacts-be-group, $sp-i-contacts-fb-group, $sp-i-contacts-mail-group, $sp-i-fb-group, $sp-i-polygon-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
