@import "../../../_mixin/mixin";
@import "../../../_variable/variable";
@import "../../../_variable/sprite";


.language {
	float: right;
	position: relative;
	z-index: 20;
	padding-top: 21px;
	@include respond-to(medium-max) {
		display: none;
	}


	.menu & {
		display: block;
		position: absolute;
		bottom: 34px;
		right: 100px;
		@include respond-to(small-max) {
			position: static;
		}
	}


	&__btn {
		font: {
			size: 10px;
			family: $f-PN-light;
		};
		color: $c-grey;


		&-text {
			.active & {
				color: $c-white;
			}
		}
	}


	&__line {
		display: inline-block;
		vertical-align: middle;
		width: 1px;
		height: 10px;
		background-color: $c-dim-gray;
		margin: {
			left: 3px;
			right: 3px;
		};
	}
}