@import "../../../_mixin/mixin";
@import "../../../_variable/variable";
@import "../../../_variable/sprite";


.navigation {
	&--fixed {
		position: fixed;
		overflow-y: auto;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background-color: $c-black;
		background-image: url("../image/img-bg.png");
		background-repeat: repeat;
	}
}