///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.case {
	position: relative;
	padding-bottom: 100px;
	@include respond-to(small-max) {
		padding-bottom: 50px;
	}


	.container {
		z-index: 10;
	}


	.main__title {
		padding-bottom: 50px;
	}


	&__row {
		position: relative;
	}


	&_left,
	&_right {
		float: left;
		width: 50%;
		@include respond-to(medium-max) {
			float: none;
			width: $w-all;
			padding: {
				left: 15px;
				right: 15px;
			};
		}
	}


	&_left {
		@include respond-to(medium) {
			padding-bottom: 100px;
		}
		@include respond-to(small-max) {
			display: none;
		}
	}


	&_right {
		@include respond-to(large) {
			padding-left: 30px;
		}
	}


	&__bg {
		position: relative;
		@include mixinDimensions(491px, 519px);
		background-image: url("../image/img-case-bg.png");
		background-repeat: no-repeat;
		@include respond-to(large) {
			width: $w-all;
		}
		@include respond-to(medium) {
			margin: {
				left: auto;
				right: auto;
			};
		}
		@include respond-to(small-max) {
			width: $w-all;
			background-image: none;
			height: auto;
		}


		&-img {
			position: absolute;
			top: 8px;
			left: 6px;
			@include respond-to(small-max) {
				position: static;
			}
		}
	}


	&__left-carousel {
		.owl-item {
			height: 519px;
			@include respond-to(small-max) {
				height: auto;
			}
		}
		.owl-nav {
			margin-top: 15px;
			text-align: center;
		}
	}


	&__right {
		&-img {
			display: inline-block !important;


			&--wrap {
				@include respond-to(small-max) {
					padding: {
						top: 10px;
						left: 50px;
						right: 50px;
					}
				}
			}
		}


		&-carousel {
			position: relative;
			text-align: center;
			padding-bottom: 15px;
		}


		&-desc {
			text-align: left;
		}
	}


	&__sub-title,
	&__text {
		font: {
			family: $f-PN-bold;
		};
		padding-bottom: 15px;
	}


	&__sub-title {
		color: $c-dim-gray;
	}


	&__list {
		&-item {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}


		&-icon {
			&-wrap {
				width: 50px;
			}
		}


		&-text {
			padding: {
				left: 15px;
				bottom: 0;
			}
		}
	}



	&__img {
		&-dynamic {
			position: absolute;
			z-index: 0;
			bottom: 0;
			right: 0;
		}
	}
}
@each $className, $iconName in
				("0", $sp-i-case-0-group),
				("1", $sp-i-case-1-group),
				("2", $sp-i-case-2-group),
				("3", $sp-i-case-3-group)
{
	.case__list-icon-#{$className} {
		display: block;
		@include retina-sprite($iconName);
	}
}