///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.client {
	position: relative;
	z-index: 5;
	padding: {
		top: 100px;
		bottom: 150px;
	}
	@include respond-to(small-max) {
		padding: {
			top: 50px;
			bottom: 50px;
		}
	}


	.container {
		z-index: 1;
	}


	&__title {
		padding-bottom: 100px;
		@include respond-to(small-max) {
			padding-bottom: 0;
		}
	}


	&__carousel {
		text-align: center;


		.owl-stage {
			display: flex;
			align-items: center;
		}
		.owl-item {
			overflow: hidden;
			text-align: center;
			padding: {
				left: 10px;
				right: 10px;
			};
		}
	}


	&__img {
		display: inline-block !important;


		&-dynamic {
			position: absolute;
			z-index: 0;
			bottom: 0;
			right: 0;
		}
	}
}