///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.contacts {
	padding-bottom: 50px;


	&__title {
		padding-bottom: 50px;
	}



	&_left,
	&_right {
		float: left;
	}


	&_left {
		padding-top: 30px;
		width: 45%;
	}


	&_right {
		width: 55%;
	}


	&__sub-title {
		font: {
			size: 18px;
			family: $f-PN-bold;
		};
		color: $c-dim-gray;
		padding-bottom: 10px;
	}


	&__text {
		font: {
			size: 20px;
			family: $f-PN-bold;
		};
		padding-bottom: 30px;
	}


	&__list {
		&-item {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}


		&-btn {
			font: {
				size: 18px;
				family: $f-PN-bold;
			};
			color: $c-dim-gray;
		}
	}


	&__icon {
		display: block;


		&-wrap {
			width: 40px;
		}
	}


	&__map {
		&-bg {}
	}
}
@each $className, $iconName in
			(0, $sp-i-contacts-mail-group),
			(1, $sp-i-contacts-be-group),
			(2, $sp-i-contacts-fb-group)
{
	.contacts__icon-#{$className} {
		@include retina-sprite($iconName);
	}
}