///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.contacts {
	padding-bottom: 50px;


	&__title {
		padding-bottom: 50px;
	}


	&_left {
		padding-top: 30px;
		width: 45%;
		float: left;
		@include respond-to(large-max) {
			width: 40%;
		}
	}


	&_right {
		position: relative;
		width: 55%;
		float: right;
		@include respond-to(large-max) {
			width: 60%;
		}
		@include respond-to(small-max) {}


		iframe {
			position: absolute;
			left: 10px;
			top: 10px;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			@include respond-to(small-max) {
				left: 20px;
				top: 20px;
				width: calc(100% - 40px);
				height: calc(100% - 40px);
			}
		}
	}


	&_left,
	&_right {
		@include respond-to(small-max) {
			float: none;
			width: $w-all;
			padding: {
				left: 15px;
				right: 15px;
			};
		}
	}


	&__sub-title {
		font: {
			size: 18px;
			family: $f-PN-bold;
		};
		color: $c-dim-gray;
		padding-bottom: 10px;
	}


	&__text {
		font: {
			size: 20px;
			family: $f-PN-bold;
		};
		padding-bottom: 30px;
	}


	&__list {
		&-item {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}


		&-btn {
			font: {
				size: 18px;
				family: $f-PN-bold;
			};
			color: $c-dim-gray;
		}
	}


	&__icon {
		display: block;


		&-wrap {
			width: 40px;
		}
	}


	&__map {
		&-bg {
			height: $w-all;
		}
	}
}
@each $className, $iconName in
			(0, $sp-i-contacts-mail-group),
			(1, $sp-i-contacts-be-group),
			(2, $sp-i-contacts-fb-group)
{
	.contacts__icon-#{$className} {
		@include retina-sprite($iconName);
	}
}