///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.copyright {
  float: right;
  padding-top: 25px;
  font: {
    size: 12px;
    family: $f-PN-regular;
  };
  color: $c-white;
}