///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.feedback {
	position: relative;
	z-index: 5;


	&__title {
		padding-bottom: 50px;
	}


	&_left,
	&_right {
		width: 45%;
		margin: {
			left: auto;
			right: auto;
		};
	}


	&_left {
		float: left;
	}


	&_right {
		float: right;
		padding-top: 13px;
	}


	&__wrap {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;


		.feedback_right & {
			align-items: flex-start;
			justify-content: space-around;
		}
	}


	&__sub-title {
		font: {
			size: 18px;
			family: $f-PN-bold;
		};
		color: $c-dim-gray;
	}


	&__input {
		@include mixinDimensions(300px, 40px);
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $c-dim-gray;
		font-family: $f-PN-regular;
	}


	&__textarea {
		@include mixinDimensions(400px, 160px);
		border: 1px solid $c-dim-gray;
		outline: none;
	}
}