///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

@import "../_template/copyright";

.footer {
	position: relative;
	z-index: 4;
	height: 150px;
	padding-top: 170px;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;


	.container {
		z-index: 10;
	}


	&__img {
		&-line,
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
		}
	}
}