///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

@import "../_template/copyright";

.footer {
	position: relative;
	z-index: 4;
	height: (130 + 150) * 1px;
	padding-top: 150px;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;
	@include respond-to(medium) {
		padding-top: 100px;
		height: (130 + 100) * 1px;
	}
	@include respond-to(small-max) {
		padding: {
			top: 75px;
			bottom: 30px;
		}
		height: auto;
		min-height: 150px;
		text-align: center;
	}


	.container {
		z-index: 10;
	}
}


#footer-border {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.footer-line {
	fill: transparent;
	stroke-width: 2.5px;

	&_0 {
		stroke: #03c8ca;
	}
	&_1 {
		stroke: #9e009e;
	}
}
.footer-bg {
	fill: $c-white;
	transform: translateY(-5px);
}