///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";

@import "../_template/_macros/header/social";
@import "../_template/_macros/header/language";
@import "../_template/_macros/header/logotype";
@import "../_template/_macros/header/nav";
@import "_macros/header/header__fixed";

.header {
	position: relative;
	min-height: 1100px;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;
	@include respond-to(large) {
		min-height: 800px;
	}
	@include respond-to(medium-max) {
		min-height: 700px;
	}


	&__сoordinate-axis,
	&__dynamic,
	&__graph,
	&__graph-bg {
		position: absolute;
		z-index: 0;
		right: 0;
	}


	&__сoordinate-axis {
		bottom: 0;
		left: 0;
		margin: {
			left: auto;
			right: auto;
		};
	}


	&__dynamic {
		bottom: -150px;
		z-index: 2;
	}


	&__graph {
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}


	&__graph-bg {
		bottom: 0;
		left: 0;
		right: 0;
	}


	&__row {
		position: relative;
		padding-top: 100px;
		z-index: 10;
		text-align: center;
		@include respond-to(large-max) {
			padding-top: 30px;
		}
	}


	&__title,
	&__sub-title {
		color: $c-white;
		text-align: center;
		line-height: 1.2;
	}


	&__title {
		font: {
			size: 50px;
			family: $f-PN-black;
		};
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: {
			top: (150) * 1px;
			bottom: 70px;
		}
		@include respond-to(large-max) {
			padding: {
				top: 80px;
				bottom: 50px;
			}
		}
		@include respond-to(small-max) {
			font-size: 40px;
		}
	}


	&__sub-title {
		font: {
			size: 22px;
			family: $f-PN-regular;
		};
		padding-bottom: 130px;
		@include respond-to(large-max) {
			padding-bottom: 70px;
		}
		@include respond-to(small-max) {
			font-size: 20px;
		}
	}


	&__scroll {
		position: absolute;
		cursor: pointer;
		z-index: 10;
		bottom: -200px;
		right: 100px;
		height: 100px;
		overflow: hidden;


		&-line {
			position: absolute;
			top: 0;
			left: 4px;
			@include mixinDimensions(1px, 100px);
			background-color: $c-black;
		}


		&-text {
			display: block;
			padding: {
				left: 30px;
			}
			font: {
				size: 12px;
				family: $f-PN-bold;
			};
			color: lighten($c-black, 15%);
			line-height: 1.2;


			&-wrap {
				margin-top: 35px;
			}
		}


		&-icon {
			position: absolute;
			left: 0;
			top: 0;
			@include retina-sprite($sp-i-polygon-group);
			transform: translate3d(0, -9px, 0);
		}
	}
}
@keyframes scroll {
	from {
		transform: translate3d(0, -9px, 0);
	}
	to {
		transform: translate3d(0, 100px, 0);
	}
}
.scroll {
	animation: scroll 2s cubic-bezier(0.7, 0, 0.3, 1);
}