@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: $w-all;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;
	animation-duration: .4s;


	>.container-fluid {
		@include respond-to(small-max) {
			height: inherit;
		}
	}


	.open-menu & {
		display: block;
	}


	&__row {
		position: absolute;
		bottom: 0;
		left: 15px;
		width: calc(100% - 30px);
		padding: {
			bottom: 15px;
		};
	}
}
@media screen and (max-height: 479px) {
	.menu__row {
		bottom: auto;
		top: 400px;
	}
}