///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.only {
	position: relative;
	z-index: 0;
	padding: {
		top: 400px;
		bottom: 200px;
	}
	text-align: center;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;
	@include respond-to(large) {
		padding: {
			top: 200px;
			bottom: 150px;
		}
	}
	@include respond-to(medium) {
		padding: {
			top: 120px;
			bottom: 120px;
		}
	}
	@include respond-to(small-max) {
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}


	.container {
		z-index: 10;
	}


	&__count {
		position: relative;
		left: 0;
		right: 0;
		margin: {
			top: 30px;
			bottom: 30px;
			left: auto;
			right: auto;
		};
		@include mixinDimensions(233px, 232px);
		line-height: 232px;


		&-num {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			font: {
				size: 60px;
				family: $f-PN-black;
			};
			color: $c-white;
		}
	}


	&__img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}


	&__text {
		color: $c-white;
		font: {
			size: 30px;
			family: $f-PN-light;
		};
		line-height: 1.2;
		@include respond-to(small-max) {
			font-size: 20px;
		}
	}


	&__dynamic,
	&__dynamic_bottom,
	&__bg,
	&__bg-top,
	&__bg-bottom,
	&__graph,
	&__graph-line,
	&__graph-line_bottom {
		position: absolute;
		z-index: 0;
	}


	&__bg-top,
	&__bg-bottom,
	&__graph,
	&__graph-line,
	&__graph-line_bottom {
		width: $w-all;
	}


	&__dynamic {
		right: 0;
		top: 0;
		z-index: 2;


		&_bottom {
			top: 30%;
			right: 0;
		}
	}


	&__bg {
		right: 0;
		bottom: 0;


		&-top {
			top: -80px;
			left: 0;
			@include respond-to(small-max) {
				top: 0;
			}
		}
	}


	&__graph {
		top: -80px;
		left: 0;
		@include respond-to(small-max) {
			top: 0;
		}


		&-line {
			top: -80px;
			left: 0;
			@include respond-to(small-max) {
				top: 0;
			}
		}
	}
}
@keyframes rotateRight {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.rotateRight {
	.only__count--active & {
		animation: rotateRight 1.5s linear;
	}
}
.rotateLeft {
	.only__count--active & {
		animation: rotateLeft 1.5s linear;
	}
}
.rotate {
	.only__count--active & {
		animation: rotate 1.5s linear;
	}
}



#only-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.only-footer-line {
	fill: transparent;
	stroke-width: 2.5px;

	&_0 {
		stroke: #03c8ca;
	}
	&_1 {
		stroke: #9e009e;
	}
}
.only-footer-bg {
	fill: $c-white;
	transform: translateY(-10px);
}