///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.only {
	position: relative;
	z-index: 0;
	padding: {
		top: 500px;
		bottom: 200px;
	}
	text-align: center;
	background-color: $c-black;
	background-image: url("../image/img-bg.png");
	background-repeat: repeat;


	.container {
		z-index: 10;
	}


	&__text {
		color: $c-white;
		font: {
			size: 30px;
			family: $f-PN-light;
		};
		line-height: 1.2;
	}


	&__img {
		margin: {
			left: auto;
			right: auto;
			top: 30px;
			bottom: 45px;
		}
	}


	&__dynamic,
	&__dynamic_bottom,
	&__bg,
	&__bg-top,
	&__bg-bottom,
	&__graph,
	&__graph-line,
	&__graph-line_bottom {
		position: absolute;
		z-index: 0;
	}


	&__bg-top,
	&__bg-bottom,
	&__graph,
	&__graph-line,
	&__graph-line_bottom {
		width: $w-all;
	}


	&__dynamic {
		right: 0;
		top: 0;
		z-index: 2;


		&_bottom {
			top: 30%;
		}
	}


	&__bg {
		right: 0;
		bottom: 0;


		&-top {
			top: -80px;
			left: 0;
		}


		&-bottom {
			bottom: 0;
			left: 0;
		}
	}


	&__graph {
		top: -80px;
		left: 0;


		&-line {
			top: -80px;
			left: 0;


			&_bottom {
				bottom: 0;
				left: 0;
			}
		}
	}
}