///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

.services {
	position: relative;
	z-index: 1;


	.container {
		z-index: 10;
	}


	&__row {
		padding-top: 100px;
		text-align: center;
		display: flex;
		justify-content: space-between;
		@include respond-to(small-max) {
			flex-direction: column;
			padding-top: 50px;
		}


		&-list {
			text-align: left;
		}
	}


	&__block {
		margin: {
			left: 5px;
			right: 5px;
		};
		@include respond-to(small-max) {
			margin: 0 0 30px;
			padding: {
				left: 15px;
				right: 15px;
			};
		}
	}


	&__img {
		position: absolute;
		left: 0;
		bottom: 0;
		@include respond-to(small-max) {
			position: static;
			margin: {
				left: auto;
				right: auto;
			};
		}


		&-wrap {
			position: relative;
			height: 85px;
			margin-bottom: 10px;
		}
	}


	&__tilte {
		position: relative;
		height: 60px;
		font: {
			size: 20px;
			family: $f-PN-black;
		};
		letter-spacing: 2px;
		margin-bottom: 30px;


		&-text {
			display: block;
		}


		&-icon{
			position: relative;
			display: block;
			bottom: -10px;
			left: 50%;
			margin-left: -4.5px;
			@include retina-sprite($sp-i-polygon-group);
		}
	}


	&__text {
		position: relative;
		padding-left: 40px;
		//height: 36px;
		line-height: 2;
		font: {
			size: 18px;
			family: $f-PN-regular;
		};
		letter-spacing: 2px;


		.services__block-1 & {
			margin-left: 70px;
			@include respond-to(large-max) {
				margin-left: 0;
			}
		}


		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 17.5px;
			@include mixinDimensions(30px, 1px);
			background-color: $c-black;
		}
	}


	&__сoordinate-axis {
		position: absolute;
		z-index: 0;
		bottom: -420px;
		opacity: .1;
		left: 0;
		right: 0;
		margin: {
			left: auto;
			right: auto;
		};
	}
}