
.header__fixed.animated
    .container-fluid
        include _macros/_header/social

        img(
            src="./image/img-logotype.png"
            title=""
            alt=""
            class="logotype"
        )

        include _macros/_header/language

        +btnMenuBurger("btn__burger")