///
/// IMPORT FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";

@import "./_template/_main/_macros/btn-burger";
///
/// BTN
///
.btn {
	height: 55px;
	line-height: 55px;
	color: $c-white;
	border: 2px solid $c-white;
	background-color: $c-black;
	padding: {
		left: 30px;
		right: 30px;
	};
	font: {
		size: 18px;
		family: $f-MS-bold;
	}
	text-align: center;
	transition: all .3s;


	&:hover {
		border-color: $c-teal;
		background-color: $c-teal;
		transition: all .3s;
	}


	&:active {
		border-color: $c-purple;
		background-color: $c-purple;
	}


	&_header {
		display: inline-block;
		width: 230px;
	}


	&_only {
		display: block;
		margin: {
			top: 30px;
			left: auto;
			right: auto;
		}
		width: 530px;
		@include respond-to(small-max) {
			width: 300px;
			padding-top: 5px;
			line-height: 1.2;
		}
	}


	&_case,
	&_insight,
	&_feedback {
		width: 270px;
	}


	&_feedback {
		position: relative;
		top: 50px;
		margin: {
			top: 50px;
			left: auto;
			right: auto;
		}
		@include respond-to(medium) {
			top: 25px;
			margin-top: 0;
		}
		@include respond-to(small-max) {
			top: 0;
		}
	}


	&_more {
		display: block;
		color: $c-black;
		background-color: $c-white;
		border-color: $c-black;


		&:hover {
			border-color: $c-teal;
			background-color: $c-teal;
			color: $c-white;
			transition: all .3s;
		}


		&:active {
			color: $c-white;
			border-color: $c-purple;
			background-color: $c-purple;
		}
	}
}
///
/// SECTION
///
section {
	position: relative;
	z-index: 10;
}
///
/// MAIN [title]
///
.main {
	&__title {
		font: {
			size: 50px;
			family: $f-PN-black;
		};
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;
		@include respond-to(small-max) {
			font-size: 30px;
		}


		&-text {
			position: relative;
			padding: {
				left: 80px;
				right: 80px;
			};
			@include respond-to(small-max) {
				padding: {
					left: 35px;
					right: 35px;
				};
			}


			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 27px;
				@include mixinDimensions(45px, 1px);
				background-color: $c-black;
				@include respond-to(small-max) {
					top: 18px;
					width: 30px;
				}
			}

			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
}
///
/// SLIDER
///
.owl {
	&-prev,
	&-next {
		cursor: pointer;
		position: relative;
		display: inline-block;
		@include mixinDimensions(50px);
		line-height: 50px;
		font-size: 0;
		text-align: center;


		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
		}
	}


	&-prev {
		margin-right: 5px;
		&:before {
			@include retina-sprite($sp-i-carousel-left-group);
		}
		&:after {
			content: "";
			position: absolute;
			right: -5px;
			top: 0;
			@include mixinDimensions(1px, 50px);
			background-color: $c-black;
		}
	}
	&-next {
		margin-left: 5px;
		&:before {
			@include retina-sprite($sp-i-carousel-right-group);
		}
	}
}


.case__row > .owl-nav {
	.owl {
		&-prev,
		&-next {
			position: absolute;
			top: 10px;
			@include respond-to(medium) {
				top: 620px;
			}
		}


		&-prev {
			&:after {
				display: none;
			}


			right: 38%;
			@include respond-to(large) {
				right: 42%;
			}
			@include respond-to(medium) {
				right: auto;
				left: 17%;
			}
			@include respond-to(small-max) {
				right: auto;
				left: 0;
			}
		}


		&-next{
			right: 7%;
			@include respond-to(large) {
				right: 0;
			}
			@include respond-to(medium) {
				right: 17%;
			}
			@include respond-to(small-max) {
				right: 0;
			}
		}
	}
}
///
/// BTN BURGER
///
.btn__burger {
	cursor: pointer;
	display: none;
	position: absolute;
	z-index: 20;
	top: 50px;
	right: 15px;
	@include respond-to(large-max) {
		display: block;
	}


	.menu &,
	.header__fixed & {
		display: block;
	}
}
///
/// BTN SQUARE
///
.btn__square {
	position: absolute;
	z-index: 30;
	@include mixinDimensions(62px);
	overflow: hidden;
	@include respond-to(small-max) {
		display: none;
	}


	&-0 {
		left: calc(59px * 12);
		top: calc(59px * 14);
		@include respond-to(large) {
			top: calc(59px * 10);
			left: calc(59px * 5);
		}
		@include respond-to(medium) {
			left: calc(59px * 3);
			top: calc(59px * 9);
		}
	}
	&-1 {
		left: calc(59px * 5);
		top: calc(59px * 11);
		@include respond-to(large) {
			left: calc(59px * 1);
			top: calc(59px * 9);
		}
		@include respond-to(medium) {
			left: calc(59px * 1);
			top: calc(59px * 7);
		}
	}
	&-2 {
		right: calc((59px * 3) + 32px);
		top: calc(59px * 8);
		@include respond-to(large) {
			right: calc(59px * 2);
		}
	}
	&-3 {
		right: calc((59px * 11) + 32px);
		top: calc(59px * 9);
		@include respond-to(large) {
			right: calc((59px * 6) + 32px);
			top: calc(59px * 9);
		}
		@include respond-to(medium) {
			right: calc(59px * 1);
			top: calc(59px * 6);
		}
	}


	&-line {
		position: absolute;
		background-color: rgba($c-white, .5);


		&:after {
			transform: scale(0);
			content: "";
			position: absolute;
			@include mixinDimensions(5px);
			background-color: rgba($c-white, .75);
		}


		&_top,
		&_bottom {
			width: 58px;
			height: 1px;
		}


		&_left,
		&_right {
			width: 1px;
			height: 58px;
		}


		&_top {
			top: 2px;
			left: -59px;
			&:after {
				top: -2px;
				right: -2px;
				.active & {
					transition: transform .25s ease-in-out;
					transition-delay: .35s;
					transform: scale(1);
				}
			}
			.active & {
				transition: left .5s ease-in-out;
				transition-delay: 0s;
				left: 2px;
			}
		}
		&_right {
			top: -59px;
			right: 2px;
			&:after {
				bottom: -2px;
				right: -2px;
				.active & {
					transition: transform .25s ease-in-out;
					transition-delay: 1.25s;
					transform: scale(1);
				}
			}
			.active & {
				transition: top .5s ease-in-out;
				transition-delay: .75s;
				top: 2px;
			}
		}
		&_bottom {
			bottom: 2px;
			right: -59px;
			&:after {
				left: -2px;
				bottom: -2px;
				.active & {
					transition: transform .25s ease-in-out;
					transition-delay: 2s;
					transform: scale(1);
				}
			}
			.active & {
				transition: right .5s ease-in-out;
				transition-delay: 1.5s;
				right: 2px;
			}
		}
		&_left {
			bottom: -59px;
			left: 2px;
			&:after {
				top: -2px;
				left: -2px;
				.active & {
					transition: transform .25s ease-in-out;
					transition-delay: 2.75s;
					transform: scale(1);
				}
			}
			.active & {
				transition: bottom .5s ease-in-out;
				transition-delay: 2.25s;
				bottom: 2px;
			}
		}
	}


	&-icon {
		transform: scale(0);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		.active & {
			transition: transform .5s ease-in-out;
			transition-delay: 3s;
			transform: scale(1);
		}


		&-0 {
			@include retina-sprite($sp-i-square-0-group);
		}
		&-1 {
			@include retina-sprite($sp-i-square-1-group);
		}
		&-2 {
			@include retina-sprite($sp-i-square-2-group);
		}
		&-3 {
			@include retina-sprite($sp-i-square-3-group);
		}
	}
}